*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
  .calculator-grid {
    width: 600px;
    border: solid 2px #555;
    border-radius: 10px;
    background-color: #888;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px;
    gap: 20px;
    }

    .calculator-grid > button {
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      font-size: 30px;
      box-shadow: 2px 3px 2px rgb(0, 0, 0, 0.5) 
    }

      .calculator-grid > button:hover {
        opacity: 0.9;
      }
      
      .calculator-grid > button:active {
        box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.5)
      }

      .span-two {
        background-color: #e22b3a;
      }

      .operation {
        background-color: #ffe2ae;
      }

      .delete {
        grid-column: 2 / 4;
        background-color: #ff4058;
      }

      .equals {
        grid-column: 3 / -1;
        background: #b0a5da;
      }

      .output{
        text-align: right;
        grid-column: 1 / -1;
        background-color: #333;
        color: #fff;
        font-size: 56px;
        padding: 10px;
        word-wrap: break-word;
        word-break: break-all;
      }

      .output .previous-operand{
        color: rgba(255,255, 255, 0.75);
        font-size: 1.5rem;
      }

      .output .current-operand{
        color: white;
        font-size: 2.5rem;
      }
